@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>   
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        
        <form method="post" action="/Hub/RegisterUser">
            <p>用户名： <input name="UserName" type="text" /></p>
            <p>密&nbsp;码： <input name="PassWord" type="text" /></p>
            <input type="submit" value="提交注册" />
        </form>


    </div> 
</body>
</html>



